body {
    background-color: black;
}
.hero {
    width: 100%;
    height: auto;
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery img {
    margin: 10px;
    height: auto;
    border-radius: 1rem;
}


.gallery img:hover {
    transform: scale(1.02);
    transition: all 300ms ease-in-out;
    outline: 1px solid rgb(69, 66, 66);

}
